{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/slick/slick-theme.css' %}"/>
</head>
<body>
    <div class="header">
        <table class="text" cellpadding="0" cellspacing="0">
            <tr>
                <td id="col1">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'main/img/logo.png' %}" alt="" class="logoimg">
                    </a>
                    <span class="logo">Интернет-магазин</span>
                </td>
                <td id="col2">
                    <nav>
                        <ul class="topmenu">
                            <li><a href="{% url 'catalog_home' %}" class="submenu-link">Обувь</a>
                                <ul class="submenu">
                                    <li><a href="{% url 'home' %}">Беговые кроссовки</a></li>
                                    <li><a href="{% url 'home' %}">Повседневный стиль</a></li>
                                    <li><a href="{% url 'home' %}">Jordan</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'about' %}">Одежда</a></li>
                            <li><a href="{% url 'home' %}">Скидки</a></li>
                        </ul>
                    </nav>
                </td>
                <td id="col3">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-shopping-basket"></i>
                    <i class="fas fa-sign-in-alt"></i>
                    <i class="fas fa-address-book"> Контакты</i>
                </td>
            </tr>
        </table>
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'main/js/script.js' %}"></script>
    <script src="{% static 'main/slick/slick.min.js' %}"></script>
</body>
</html>