{% extends 'main/layout.html' %}

{% block title %}Все кроссовки{% endblock %}

{% block content %}
        <nav aria-label="breadcrumb" class="breadcrumps">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'catalog_home' %}">Каталог</a></li>
            <li class="breadcrumb-item active" aria-current="page">Обувь</li>
          </ol>
        </nav>
        {% if catalog %}
            {% for el in catalog %}
                <div class="d-inline-flex">
                    <div class="card text-white bg-dark mb-3" style="width:18rem;">
                      <a href="{% url 'shoes-detail' el.slug %}">
                          <img class="card-img-top" src="{{ el.img.url }}" alt="Card image cap">
                      </a>
                      <div class="card-body">
                          <h3 id="hthing">{{ el.title }}</h3>
                          <span class="align-top">{{ el.price }} &#8381</span>
                          <div style="clear: both"></div>
                          <span class="bthing">
                            <a href="{% url 'shoes-detail' el.slug %}" class="btn btn-info btn-sm">Купить</a>
                          </span>
                      </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>На данный момент товары отсутствуют</p>
        {% endif %}
{% endblock %}