{% extends 'main/layout.html' %}

{% block title %}Все товары{% endblock %}

{% block content %}
        <div class="container">
            <div class="row">
                <nav aria-label="breadcrumb" class="breadcrumbs">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'products:catalog_home' %}">Каталог</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
                  </ol>
                </nav>
            </div>
            <div class="row items">
                <div class="col-3 justify-content-center filters">
                    <div class="filters_set">
                        {% if request.path == '/catalog/filter/' or request.path == '/catalog/' or request.path == '/catalog/search/' %}
                        <form action="{% url 'products:filter1' %}" method="get">
                        {% else %}
                        <form action="/catalog/{{ category.slug }}/filter/" method="get">
                        {% endif %}
                            <div class="accordeonWrapper type_1">
                                <div class="elemAccordeon">
                                    <div class="headingElem">ПОЛ</div>
                                    <div class="descElem">
                                        {% for el in genders %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="gender" value="{{ el }}" id="flexCheckDefault{% cycle 1 2 3 %}">
                                                <label class="form-check-label55" for="flexCheckDefault{% cycle 1 2 3 %}">
                                                    {{ el.name }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="elemAccordeon">
                                    <div class="headingElem">ПОДКАТЕГОРИЯ</div>
                                    <div class="descElem">
                                        {% for el in subcategory %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="subcategory" value="{{ el }}" id="flexCheckDefault{% cycle 4 5 6 7 8 9 %}">
                                                <label class="form-check-label55" for="flexCheckDefault{% cycle 4 5 6 7 8 9 %}">
                                                    {{ el.name }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="elemAccordeon">
                                    <div class="headingElem">БРЕНД</div>
                                    <div class="descElem">
                                        {% for el in brand %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="brand" value="{{ el }}" id="flexCheckDefault{% cycle 10 11 12 13 14 15 %}">
                                                <label class="form-check-label55" for="flexCheckDefault{% cycle 10 11 12 13 14 15 %}">
                                                    {{ el.name }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-primary" id="btn-filter">ПОКАЗАТЬ</button>
                        </form>
                    </div>
                </div>
        {% if catalog %}
                <div class="col-9 colItems">
            {% for el in catalog %}
                    <div class="card text-white bg-dark mb-3 item">
                      <a href="{{ el.get_absolute_url }}">
                          <img class="card-img-top" src="{{ el.img_thumbnail.url }}" alt="Card image cap">
                      </a>
                      <div class="card-body">
                          <h3 id="hthing">{{ el.title }}</h3>
                          <span class="align-top">{{ el.price }} &#8381</span>
                          <div style="clear: both"></div>
                          <span class="bthing">
                            <a href="{{ el.get_absolute_url }}" class="btn btn-info btn-sm">Купить</a>
                          </span>
                      </div>
                    </div>
            {% endfor %}
                </div>
        {% else %}
            <p>На данный момент товары отсутствуют</p>
        {% endif %}
                </div>
            </div>
{% endblock %}