{% extends 'main/layout.html' %}

{% block title %}Кроссовки {{ article.title }}{% endblock %}

{% block content %}
    <div class="features">
        <nav aria-label="breadcrumb" class="breadcrumps">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'catalog_home' %}">Каталог</a></li>
              <li class="breadcrumb-item"><a href="{% url 'catalog_home' %}">Обувь</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ article.title }}</li>
          </ol>
        </nav>
        {% if articleimg %}
            <div class="container-fluid">
                <div class="row justify-content-right">
                    <div class="col-sm-6 detailtablecol1">
                        <div class="single-item">
                            {% for el in articleimg %}
                                <div class="slick_item"><img src="{{ el.img_detail.url }}" width="100%" height="400px"></div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-3 detailtablecol2">
                        {{ article.title }}
                        <div class="row">
                            <div class="col-sm">
                                <h6>Выберите размер</h6>
                            </div>
                            <div class="col-sm">
                                <a href="#" id="acoldetail"><h6>Таблица размеров <i class="fa fa-info" aria-hidden="true"></i></h6></a>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-sm">
                                <div class="btn-group btn-group-toggle">
                                    <label class="btn btn-info">
                                        <input type="radio" name="options" id="option1" autocomplete="off"> US 9
                                    </label>
                                    <label class="btn btn-info">
                                        <input type="radio" name="options" id="option2" autocomplete="off"> US 9.5
                                    </label>
                                    <label class="btn btn-info">
                                        <input type="radio" name="options" id="option3" autocomplete="off"> US 10
                                    </label>
                                    <label class="btn btn-info">
                                        <input type="radio" name="options" id="option4" autocomplete="off"> US 10.5
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-sm">
                                <div class="btn-group btn-group-toggle">
                                    <label class="btn btn-info">
                                        <input type="radio" name="options" id="option5" autocomplete="off"> US 11
                                    </label>
                                    <label class="btn btn-info">
                                        <input type="radio" name="options" id="option6" autocomplete="off"> US 11.5
                                    </label>
                                    <label class="btn btn-info">
                                        <input type="radio" name="options" id="option7" autocomplete="off"> US 12
                                    </label>
                                    <label class="btn btn-info">
                                        <input type="radio" name="options" id="option8" autocomplete="off"> US 12.5
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-sm">
                                <div class="btn-group btn-group-toggle">
                                    <label class="btn btn-info">
                                        <input type="radio" name="options" id="option9" autocomplete="off"> US 13
                                    </label>
                                    <label class="btn btn-info">
                                        <input type="radio" name="options" id="option10" autocomplete="off"> US 14
                                    </label>
                                    <label class="btn btn-info">
                                        <input type="radio" name="options" id="option11" autocomplete="off"> US 15
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-warning">Добавить в корзину</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 detailtablecol3">
                        {{ article.price }} &#8381
                    </div>
                </div>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                          <h5 class="mb-0">
                            <button class="btn btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Описание
                            </button>
                              <button class="btn btn-light" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                              Характеристики
                              </button>
                          </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                            {{ article.description }}
                          </div>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                            Test
                            </div>
                        </div>
                    </div>
            </div>
        {% else %}
            <p>На данный момент описание товара отсутствует</p>
        {% endif %}
    </div>
{% endblock %}