{% extends 'main/layout.html' %}

{% block title %}Товар {{ article.title }}{% endblock %}
{% load static %}
{% block content %}
    <div class="features">
        <nav aria-label="breadcrumb" class="breadcrumps" id="crumps">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'products:catalog_home' %}">Каталог</a></li>
              <li class="breadcrumb-item"><a href="/catalog/{{ article.category.slug }}/">{{ article.category.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ article.title }}</li>
          </ol>
        </nav>

        <div class="container-fluid detail_product">
            <div class="row justify-content-right">
                <div class="col-sm-6 detailtablecol1">
                    <div class="single-item">
                        {% if articleimg %}
                            {% for el in articleimg %}
                                <div class="slick_item"><img src="{{ el.img_detail.url }}" width="100%" height="400px"></div>
                            {% endfor %}
                        {% else %}
                            <div class="slick_item"><img src="{% static 'main/img/no-img.png' %}" width="100%" height="400px"></div>
                        {% endif %}

                    </div>
                </div>
                <div class="col-sm-3 detailtablecol2">
                    {{ article.title }}
                    <div class="row">
                        <div class="col-sm">
                            <h6>Выберите размер</h6>
                        </div>
                        <div class="col-sm">
                            <a href="#" id="acoldetail"><h6>Таблица размеров <i class="fa fa-info" aria-hidden="true"></i></h6></a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm">
                            {% for el in size %}
                                <input type="radio" class="btn-check" name="options" value="{{ el.size }}" onclick="check" id="option{{ forloop.counter }}" autocomplete="off">
                                <label class="btn btn-secondary sizeButt" for="option{{ forloop.counter }}">{{ el.size }}</label>
                                {% if forloop.counter|divisibleby:4 %}
                                   <br>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <input class="form-control" id = "size" type="text" readonly>
                    <div class="row">
                        <div class="col">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'cart:cart_add' article.id %}" class="btn btn-warning">Добавить в корзину</a>
                            {% else %}
                                <p>Зарегистрируйтесь, чтобы добавить товар</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 detailtablecol3">
                    {{ article.price }} &#8381
                </div>
            </div>
            <div id="accordion" style="width: 90%">
                <div class="card mt-4">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Описание
                        </button>
                          <button class="btn btn-light" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                          Характеристики
                          </button>
                      </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        {{ article.description }}
                      </div>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                        Test
                        </div>
                    </div>
                </div>
        </div>
            <div class="comments mt-5">
                    <h3 class="">Отзывы ({{ article.comments_articles.all.count }})</h3>
                    <hr color="white">
                    <h3 class="">Добавить отзыв</h3>
                    <form action="" id="add_form" method="post" class="comments">
                    {% csrf_token %}
                    {{ form }}
                    <button form="add_form" type="submit" class="btn btn-info mt-2" style="width: 100px">Добавить
                    </button>
                    </form>
                    <ul>
                    {% for item in article.comments_articles.all %}
                    <li>
                    <div class="alert alert-primary comment-card">
                    {{ item.create_date }}<br>
                    {{ item.author }}<br>
                    {{ item.text }}
                    </div>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
    </div>
{% endblock %}