.text  {
    background: #333;
    border-bottom: 3px solid #9ACD32;
    width:  100%; /* Ширина таблицы */
    height: 10vh;
    border-spacing: 0; /* Расстояние между ячейками */
   }
   .text a {
    display: block;
    transition: .3s ease-in-out;
    outline: none;
   }
   .text a:hover {
    text-decoration:none;
   }
   .text td {
    color: #f2f2f2;
    vertical-align: middle;
   }
   #col1 {
    width: 25%;
    line-height: 75px;
   }
   #col2 {
   text-align:center;
   width: 50%;
   }
   #col3 {
    width: 25%;
   }
.header {
    color: #f2f2f2;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;

}
.logo {
    font-size: 21px;
    margin-left: 5px;
    font-weight: bold;
}
.logoimg {
    float: left;
    width: 115px;
    height: 78px;
    image-rendering: crisp-edges;
    opacity: 1;
}
.logoimg:hover {
    opacity: .6;
    transition: opacity .5s;
}

<!-- border-right: 1mm ridge green; -->
nav {
  margin: 0 auto;
}
nav ul {
  list-style: none;
  display: inline-block;
  vertical-align:middle;
  margin: 0;
  padding: 0;
}
.topmenu {text-align: center;}
.topmenu:after {
  content: "";
  display: table;
  clear: both;
}
.topmenu > li {
  float: left;
  position: relative;
}
.topmenu > li > a {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #f2f2f2;
  padding: 15px 30px;
}
#topmenu2 > li > a {
    padding: 15px 15px;
}
.topmenu li a:hover { color: #008080; }
.submenu-link:after {
  margin-left: 10px;
}
.submenu {
  background: #273037;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 180px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}
.submenu a {
  color: #f2f2f2;
  text-align: left;
  padding: 12px 15px;
  font-size: 15px;
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.submenu li:last-child a { border-bottom: none; }
.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}
main {
    background: #DCDCDC;
    min-height: 100vh;
    margin-top: 80px;

}

main .sneakers {
    background: #f2f2f2;
    margin-right: 50px;
    margin-bottom: 20px;
    border: 2px solid grey;
}

main .features p {
    display: inline-block;
    font-weight: bold;
    margin-left: 3px;
}
.single-item {
    border: 4px solid grey;
    width: 70%;
    margin-left: 16%;
}
.card {
    margin-right: 10px;
    margin-bottom: 15px;
}

#hthing {
    font-size: 17px;
    margin-left: 3px;
    float: left;
    font-weight: 650;
    width: 60%;
}
.align-top {
    float: right;
    font-weight: 500;
    margin-bottom: 11px;
}
.bthing {
    float: right;
    margin-top: 10px;
}
.breadcrumb a {
    color: black;
}
.breadcrumb a:hover {
    text-decoration: none;
    color: black;
}
.breadcrumb {
    background: #A9A9A9;
    margin-left: 15px;
    margin-right: 15px;
}

.detailtablecol2 {
    font-size: 29px;
    font-weight: bold;
    vertical-align: top;
}
.detailtablecol3 {
    font-size: 25px;
    font-weight: 500;
    vertical-align: bottom;
    text-align: center;
}
main .features h6 {
    font-weight: bold;
    margin-top: 50px;
}
#acoldetail {
    color: black;
}
.register {
    padding-top: 20px;

}
.register h3 {
    text-transform: uppercase;
}
#pregister {
    font-size: 25px;
}

.filters {
    border-right: solid gray 2px;
    border-top: solid gray 2px;
    padding-top: 20px;
    background: white;
}
.form-check-label55:hover {
    color: green;
    cursor: pointer;
}

.accordeonWrapper {
    margin-bottom: 50px;
}
.elemAccordeon {
    margin: 10px 0;
}
.headingElem {
    display: block;
    width: 100%;
    padding: 10px;
    color: #A9A9A9;
    font-weight: bolder;
    font-size: 13px;
    border-bottom: 0.3px solid #DCDCDC;
    cursor: pointer;
}
.descElem {
    display: block;
    padding: 20px 10px;
}
.descElem.active {
    display: none;
    overflow: initial;
}
.headingElem:after {
  content: 'ˇ';
  color: #A9A9A9;
  font-size: 25px;
  float: right;
  margin-left: 4px;
}
.btn-check {
    display: none;
}
#size {
    font-weight: 570;
    color: red;
}





















