{% extends 'main/layout.html' %}
{% block title %}Корзина покупок{% endblock %}

{% block content %}
    <div class="container bucket">
        <h1>Корзина покупок {% if not cart.products.count %}пуста{% endif %}</h1>
        {% if cart.products.count %}
        <table class="table align-middle table-secondary">
            <thead>
                <tr>
                    <th>Картинка</th>
                    <th>Товар</th>
                    <th>Удалить</th>
                    <th>Цена за шт</th>
                    <th>Размер</th>
                    <th>Кол-во</th>
                    <th>Общая стоимость</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart.products.all %}
                    {% with product=item.product %}
                        <tr>
                            <td>
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{{ product.img_thumbnail.url }}" class="ProductImg">
                                </a>
                            </td>
                            <td>{{ product.title }}</td>
                            <td><a href="{% url 'cart:cart_remove' product.id %}">Удалить</a></td>
                            <td>
                                {{ product.price }}
                            </td>
                            <td>
                                123
                            </td>
                            <td>
                                <form action="{% url 'cart:cart_change' product.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="number" name="qty" class="form-control" min="1" max="5" value="{{ item.qty }}" style="width: 65px;">
                                    <br>
                                    <input type="submit" class="btn btn-outline-secondary btn-sm" value="Изменить кол-во">
                                </form>
                            </td>
                            <td>{{ item.final_price }}</td>
                        </tr>

            {% endwith %}
            {% endfor %}
            </tbody>
            <tr>
                <td style="font-weight: bold; font-size: 18px;">Всего</td>
                <td colspan="4"></td>
                <td style="font-weight: bold; font-size: 18px;">{{ cart.total_products }}</td>
                <td style="font-weight: bold; font-size: 18px;">{{ cart.final_price }}</td>
            </tr>
        </table>
        <p class="text-right">
            <a href="{% url 'products:catalog_home' %}" class="btn btn-info">В магазин</a>
            <a href="{% url 'checkout' %}" class="btn btn-info">Оформить заказ</a>
        </p>
        {% endif %}
    </div>
{% endblock %}