{% extends 'main/layout.html' %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}

    <div class="container bucket">
        <h1>Оформление заказа</h1>
        <table class="table align-middle table-secondary">
            <thead>
                <tr>
                    <th>Картинка</th>
                    <th>Товар</th>
                    <th>Цена за шт</th>
                    <th>Размер</th>
                    <th>Кол-во</th>
                    <th>Общая стоимость</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart.products.all %}
                    {% with product=item.product %}
                        <tr>
                            <td>
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{{ product.img_thumbnail.url }}" class="ProductImg">
                                </a>
                            </td>
                            <td>{{ product.title }}</td>
                            <td>
                                {{ product.price }}
                            </td>
                            <td>
                                123
                            </td>
                            <td>
                                {{ item.qty }}
                            </td>
                            <td>{{ item.final_price }}</td>
                        </tr>

            {% endwith %}
            {% endfor %}
            </tbody>
            <tr>
                <td style="font-weight: bold; font-size: 18px;">Всего</td>
                <td colspan="3"></td>
                <td style="font-weight: bold; font-size: 18px;">{{ cart.total_products }}</td>
                <td style="font-weight: bold; font-size: 18px;">{{ cart.final_price }}</td>
            </tr>
        </table>
        <hr>
        <div class="order">
            <h2>Форма заказа</h2>
            <form action="{% url 'make-order' %}" method="POST" class="order">
                {% csrf_token %}
                {{ form.as_p  }}
                <input type="submit" class="btn btn-success btn-block" values="Оформить заказ">
            </form>
        </div>
    </div>


{% endblock %}