{% extends 'main/layout.html' %}
{% load crispy_forms_tags %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}

    <div class="container bucket">
        <h1>Оформление заказа</h1>
        <table class="table align-middle table-secondary">
            <thead>
                <tr>
                    <th>Картинка</th>
                    <th>Товар</th>
                    <th>Кол-во</th>
                    <th>Размер</th>
                    <th>Цена за шт</th>
                    <th>Общая стоимость</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    {% with product=item.product %}
                        <tr>
                            <td>
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{{ product.img_thumbnail.url }}" class="ProductImg">
                                </a>
                            </td>
                            <td>{{ product.title }}</td>
                            <td>
                                {{ item.quantity }}
                            </td>
                            <td>
                                123
                            </td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.total_price }}</td>
                        </tr>

            {% endwith %}
            {% endfor %}
            </tbody>
            <tr>
                <td style="font-weight: bold; font-size: 18px;">Всего</td>
                <td colspan="4"></td>
                <td style="font-weight: bold; font-size: 18px;">{{ cart.get_total_price }}</td>
            </tr>
        </table>
        <hr>
        <div class="order">
            <h2>Форма заказа</h2>
            <form action="" method="POST" class="order">
                {{ form.as_p }}
                <input type="submit" class="btn btn-success btn-block" values="Оформить заказ">
            </form>
        </div>

    </div>


{% endblock %}