{% extends 'main/layout.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="container register">
        <div class="row align-items-start justify-content-between">
            <div class="col-sm-5">
                <h3>Регистрация на сайте</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block">Регистрация</button>
                </form>
            </div>
            <div class="col-sm-5">
            </div>
        </div>
    </div>
{% endblock %}